@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #1d1c1c;
  color: #ffffff;
  font-family: "Nunito";
}
a {
  color: #ffffff;
  text-decoration: none;
}


.thumbnail {
  max-width: 960px;
  margin: 1rem;
  padding: 0.12rem 3rem;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.thumbnail:hover {
  background-color: #ffffff0f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}






nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
.navLink{
  padding: 20px 10px;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}


.navLink:hover{
  background-color: #ffffff0f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

nav .logo {
  margin-right: auto;
}